@charset "utf-8";      
.pagination a {
    text-decoration: none;
	border: 1px solid #AAE;
	color: #15B;
}

.pagination a, .pagination span {
    display: inline-block;
    padding: 0.1em 0.4em;
    margin-right: 5px;
	margin-bottom: 5px;
}

.pagination .current {
    background: #26B;
    color: #fff;
	border: 1px solid #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}


.pager {
	height: 25px;
	line-height: 20px;
	font-size: 12px;
	margin: 10px 0px;
	text-align: center;
	color: #2E6AB1;
	overflow: hidden;
}

.pager .disabled {
	border: 1px solid #A8A8A8;
	color: #A8A8A8;
	margin: 0px 5px;
	padding: 5px 8px;
	text-decoration: none;
}

.pager .current {
	border: 1px solid #A8A8A8;
	color: #A8A8A8;
	margin: 0px 5px;
	padding: 5px 8px;
	text-decoration: none;
}

.pager a {
	border: 1px solid #9AAFE5;
	color: #2E6AB1;
	margin: 0px 5px;
	padding: 5px 8px;
	text-decoration: none;
}

.pager a.hover,.pager a.active {
	background-color: #2E6AB1;
	border-color: #000080;
	color: #FFF;
}

.pager a.disabled {
	color: #C8CDD2;
	cursor: auto;
}